

.company {
  background: #e5e5e5;
  .content {
    width: 900px;
  }
  .sec-hero {
    background-image: url(../../images/bg_company.png);
    background-size: cover;
    height: 100vh;
    .content {
      height: 50vh;
      &:last-child {
        color: white;
      }
    }
  }
  &-table {
    padding-top: 160px;
    h1 {
      font-size: 32px;
      letter-spacing: 0.05em;      
      @include font-ud(demibold);
      text-align: center;
    }
    table {
      margin-top: 50px;
      width: 100%;
      tr {
        td {
          font-size: 13px;
          letter-spacing: 0.15em;          
          @include font-tbud(regular);
          padding: 18px 0 16px;
          border-top: 1px solid #d1bab8;
          border-bottom: 1px solid #d1bab8;
          &:first-child {
            min-width: 135px;
          }
          &:last-child {
            width: 100%;
            padding-right: 70px;
          }
          a {
            color: #1B224C;
          }
        }
        &:nth-child(3) {
          td:first-child {
            vertical-align: top;
          }
        }
      }
    }
  }
  &-member {
    margin-top: 160px;
    padding-bottom: 156px;
    h1 {
      font-size: 32px;
      letter-spacing: 0.05em;      
      @include font-ud(demibold);
      text-align: center;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      margin-top: 55px;
    }
    &-wrap {
      width: 240px;
      img {
        width: 100%;
        height: 172px;
        object-fit: cover;
      }
      .member-info {
        margin-top: 18px;
        background-image: url(../../images/member_border.png);
        background-position-x: left;
        height: 286px;
        padding-left: 16px;
        h2 {
          font-size: 13px;
          letter-spacing: 0.1em;          
          @include font-ud(medium);
        }
        h3 {
          font-size: 22px;
          letter-spacing: 0.1em;          
          font-family: 'felix';
          font-weight: normal;
          margin-top: 7px;
        }
        p {        
          font-family: 'felix';
          font-weight: normal;
          font-size: 13px;
          letter-spacing: 0.1em;
          line-height: 28px;
          margin-top: 35px;        
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .company {
    .content {
      width: 900rem;
    }
    &-table {
      padding-top: 160rem;
      h1 {
        font-size: 32rem;
      }
      table {
        margin-top: 50rem;
        tr {
          td {
            font-size: 13rem;
            padding: 18rem 0 16rem;
            &:first-child {
              min-width: 135rem;
            }
            &:last-child {
              padding-right: 70rem;
            }
          }
        }
      }
    }
    &-member {
      margin-top: 160rem;
      padding-bottom: 156rem;
      h1 {
        font-size: 32rem;
      }
      &-content {
        margin-top: 55rem;
      }
      &-wrap {
        width: 240rem;
        img {
          height: 172rem;
        }
        .member-info {
          margin-top: 18rem;
          height: 286rem;
          padding-left: 16rem;
          h2 {
            font-size: 13rem;
          }
          h3 {
            font-size: 22rem;
            margin-top: 7rem;
          }
          p {        
            font-size: 13rem;
            line-height: 28rem;
            margin-top: 35rem;        
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .company {
    .content {
      width: 100%;
    }
    .sec-hero {
      background-image: url(../../images/bg_company_sp.png);
      background-size: 100% 100%;
      .content {
        height: 35vh;
      }
    }
    &-table {
      padding-top: 64px;
      h1 {
        font-size: 24px;
      }
      table {
        margin-top: 60px;
        tr {
          display: block;
          &:first-child {
            border-top: 1px solid #d1bab8;
          }
          border-bottom: 1px solid #d1bab8;
          td {
            display: block;
            font-size: 13px;
            padding: 18px 0 16px;
            border-top: unset;
            border-bottom: unset;
            &:first-child {
              min-width: 100%;
              padding-bottom: 6px;
            }
            &:last-child {
              width: 100%;
              padding-right: 0;
              padding-top: 0;
            }
          }
        }
      }
    }
    &-member {
      margin-top: 130px;
      padding-bottom: 40px;
      h1 {
        font-size: 24px;
      }
      &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
      }
      &-wrap {
        width: 240px;
        &:not(:first-child) {
          margin-top: 40px;
        }
        img {
          width: 100%;
          height: 172px;
        }
        .member-info {
          margin-top: 18px;
          height: 286px;
          padding-left: 16px;
          h2 {
            font-size: 13px;
            letter-spacing: 0.1em;          
            @include font-ud(medium);
          }
          h3 {
            font-size: 22px;
            letter-spacing: 0.1em;          
            font-family: 'felix';
            font-weight: normal;
            margin-top: 7px;
          }
          p {        
            font-family: 'felix';
            font-weight: normal;
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 28px;
            margin-top: 35px;        
          }
        }
      }
    }
  }  
}