// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Junki Nakagawa
/// @param {Bool} $self [false] - Whether or not to include current selector
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Junki Nakagawa
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}



@mixin for-tablet{
  @media (max-width: $xl) { @content; }
}
@mixin for-sp{
  @media (max-width: $sm) { @content; }
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

